* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 , h2{
    text-transform: uppercase;
}
section{
    margin: 2em;
}
header{
    background-color: rgb(47, 33, 90);
    color: wheat;
    background-image: url(images/header__img.png);
}
.header__text{
    display: flex;
    font-size: 1.5em;
    padding: 0.5em;
}
.header__img{
    display: flex;
    width: 5em;
}
.header__inner{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0.5em;
}
main{
    background-color: rgb(244, 233, 212);
}
.logo2{
    display: flex;
    height: 3em;
    width: 15em;
    margin-bottom: 1.5em;
    margin-left:41% ;
}
html {
  scroll-behavior: smooth;
}
.navigate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: rgb(47, 33, 90) solid 0.5em;
    background-color: rgb(47, 33, 90);
    border-radius: 2em;
    box-shadow: 2.5em 0em 5em rgba(133, 20, 255, 0.5);
    scroll-behavior: smooth;
}
.nav__option{
    padding: 2em;
    color: wheat;
    text-decoration: none;
}
.bio__text{
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-top: 2em;
}
.her__biography{
    display: flex;
    align-items: center;
    border: rgb(47, 33, 90) solid 0.5em;
    background-color: rgb(47, 33, 90);
    border-radius: 2em;
    box-shadow: 2.5em 0em 5em rgba(133, 20, 255, 0.5);
}
.biography__text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 2em;
}
.her__name{
    font-size: 1.5em;
    color: wheat;
}
.information{
    font-size: 1.5em;
    color: wheat;
}
.biography__img{
    height: 20em;
    padding: 2em;   
}
.disc__text{
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-top: 3em;
}
.albums{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}
.album{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.2em;
    border: rgb(47, 33, 90) solid 0.5em;
    background-color: rgb(47, 33, 90);
    border-radius: 2em;
    box-shadow: 2.5em 0em 5em rgba(133, 20, 255, 0.5);
    color: wheat;
}
.cover{
    height: 25em;
    width: 25em;
    object-fit: cover;
    padding: 0.5em;
}
.top__songs__text{
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-top: 2em;
}
.songs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: rgb(47, 33, 90) solid 0.5em;
    background-color: rgb(47, 33, 90);
    border-radius: 2em;
    color: wheat;
    box-shadow:2.5em 0em 5em rgba(133, 20, 255, 0.5);
}
.each__song{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom:3em ;
}
.llc__text{
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin-top: 2em;
}
.llc__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(images/header__img.png);
    border: rgb(47, 33, 90) solid 0em;
    background-color: rgb(47, 33, 90);
    border-radius: 2em;
    color: wheat;
    box-shadow:2.5em 0em 5em rgba(133, 20, 255, 0.5);
}
.invite{
    font-size: 2em;
}
.tg__link{
    font-size: 3em;
    color: wheat;
    text-decoration: none;
}
.join__instruction{
    font-size: 1.3em;
    text-transform: uppercase;
}
.link__img{
    height: 5em;
}
.sm__text{
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 2em;
}
.her__sm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: rgb(47, 33, 90) solid 0em;
    background-color: rgb(47, 33, 90);
    border-radius: 2em;
    color: wheat;
    box-shadow:2.5em 0em 5em rgba(133, 20, 255, 0.5);
    padding-left: 1em;
}
.sm__link__img{
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 5em;
    width: 10em;
    padding: 1.5em;
}
footer{
    background-color: rgb(47, 33, 90);
    color: wheat;
    background-image: url(images/header__img.png);
}
.footer__text{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    font-size: 1em;
    padding: 0.5em;
}

@media (max-width: 1024px) {
  .albums, .songs, .her__sm {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .album, .each__song {
    flex: 1 1 45%;
    margin: 0.5em;
  }
}

@media (max-width: 768px) {
  .header__inner {
    flex-direction: column;
    text-align: center;
  }

  .header__img {
    width: 4em;
    margin-bottom: 0.5em;
  }

  .navigate {
    flex-direction: column;
    padding: 1em;
  }

  .nav__option {
    display: block;
    padding: 1em 0;
  }

  .albums, .songs {
    flex-direction: column;
    align-items: center;
  }

  .album, .each__song {
    width: 90%;
    margin-bottom: 1.5em;
  }

  .biography__img {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 480px) {
  h1, h2 {
    font-size: 1.5em;
  }

  .logo2 {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
  }

  .tg__link img {
    width: 4em;
  }
}

@media (max-width: 1024px) {
  .albums, .songs, .her__sm {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .album, .each__song {
    flex: 1 1 45%;
    margin: 0.5em;
  }
}

@media (max-width: 768px) {
  .header__inner {
    flex-direction: column;
    text-align: center;
  }

  .header__img {
    width: 4em;
    margin-bottom: 0.5em;
  }

  .navigate {
    flex-direction: column;
    padding: 1em;
  }

  .nav__option {
    display: block;
    padding: 1em 0;
  }

  .albums, .songs {
    flex-direction: column;
    align-items: center;
  }

  .album, .each__song {
    width: 90%;
    margin-bottom: 1.5em;
  }

  .biography__img {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 480px) {
  h1, h2 {
    font-size: 1.5em;
  }

  .logo2 {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
  }

  .tg__link img {
    width: 4em;
  }
}